@model Snow.Web.ViewModel.OrderVM

@{
    ViewBag.Title = "Create";
}

<h2>New Sale</h2>

<hr />

<div>
    <input type="button" value="Reset" id="buttonReset" />
</div>

<hr />

<div>
    <label for="ddlProductBarcode"><strong>Product Barcode</strong></label>

    <input type="text" name="ProductBarcode" id="barCode">

    <input type="button" value="Add Product" id="buttonAdd" />
</div>

<hr />

<div id="orderDetails">
    @{Html.RenderPartial("_OrderDetails", Model.AllOrderDetailsVM);}
</div>

<hr />

<h3>Checkout</h3>

<div>
    <input type="button" value="Cash" id="" />
    <input type="button" value="Card" id="" />
    @Html.ActionLink("Print", "PrintInvoice", "Order", null, null)
</div>

<!--
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
-->
    
<script type="text/javascript">

    $(document).ready(function () {
        //$("#buttonClick").click(function () {
        $('#buttonAdd').on('click', function() {
            var barcode = $('#barCode').val();
            var url = "@Url.Action("AddOrderDetail", "Order")?barcode=" + barcode + '&orderId=' + @Model.Id;
            $("#orderDetails").load(url);
            //$("#orderDetails").load("Index");
            $.ajaxSetup({ cache: false });
        });

        $('#buttonReset').on('click', function() {
            var url = "@Url.Action("Reset", "Order")?orderId=" + @Model.Id;
            $("#orderDetails").load(url);
            //$("#orderDetails").load("Index");
            $.ajaxSetup({ cache: false });
        }); 
       
    });
</script>

