@model IEnumerable<Snow.Web.ViewModel.InventoryVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="form-group">
    @using (Html.BeginForm("Index", "Inventory", FormMethod.Get))
    {
        <text>Store </text>
    
        @Html.DropDownList("Store", // Store selected value in Model.State

                          // Notice "ME" as the last parameter here -
                          // that's the key for "Maine" in the supplied dictionary
                          new SelectList(ViewBag.Stores, "Name", "Name", "ME"),

                          // Text for the first, non-selected option
                          "All",

                          // A class name to put on the "<select>"
                          new { @class = "form-control" })
       
        <input type="submit" value="Search" />
    }
</div>

<p>

</p>

<table class="table">

    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.StoreName)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.SizeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Barcode)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.StoreName)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.SizeName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Barcode)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
