@model SNOW_Solution.Web.ViewModels.SubScriberVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
<p>
    @Html.ActionLink("Create New", "Create", "Product",null, null)
</p>

}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor("Product ID")
        </th>
        <th>
            @Html.DisplayNameFor("Product Name")
        </th>
        <th>
            @Html.DisplayNameFor("Product Description")
        </th>
        <th>
            @Html.DisplayNameFor("Price")
        </th>
        <th>
            @Html.DisplayNameFor("Category")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.CategoryID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", "Product", new {  id=item.ProductID }, null) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
