@model IEnumerable<Snow.Web.ViewModel.ProductVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create", "Product", null, null)
    </p>

}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarketPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryDescription)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        
        <tr style="@(item.IsDeleted ? "Background-color:red" : "")">
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarketPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryDescription)
            </td>
            @if (item.IsDeleted)
            {
            <td>
                @Html.ActionLink("Details", "Details", "Product", new { id = item.ProductId }, null) 
            </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", "Product", new { id = item.ProductId }, null) |
                    @Html.ActionLink("Details", "Details", "Product", new { id = item.ProductId }, null) |
                    @Html.ActionLink("Delete", "Delete", "Product", new { id = item.ProductId }, null)
                </td>
            }
           
        </tr>
    }

</table>